<script src="https://kit.fontawesome.com/3e77aa9250.js" crossorigin="anonymous"></script>


<li  class="comemnt-content" id="comment-<%= comment._id %>">
    <p>

        <% if(locals.user && locals.user.id == comment.user) { %>


            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">
                    <i class="far fa-trash-alt" style="font-size:17px; color:grey; padding-right: 8px;"></i>
                </a>
            </small>


        <% } %>

        <span id="comment-content">


         <!-- Comment Content -->
        <%= comment.content %>

        

        </span>



        <br>

        <span id="comment-details">
            <i> Commented By: </i>
            <small>

                <%for( cu of all_users){ %>

                    <% if( cu.id == comment.user) { %>
                        <%= cu.name %>
                        <% break %>

                        <%}%>


                <% } %>
                


            </small>
            <br>
        </span>

        <span id="comment-like-container" >
            <small>
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                        <i class="fas fa-heart fa-2x" style="font-size:18px; color:#7c80ed; padding-right: 3px;" ></i>    <%= post.likes.length %> 
                    </a>
                <% }else{ %>
                    <i class="fas fa-heart fa-2x" style="font-size:18px; color:#7c80ed; padding-right: 3px;" ></i> <%= post.likes.length %>
                <% } %>
                </small>
    
        </span>
       



    </p>    

</li>

