<script src="https://kit.fontawesome.com/3e77aa9250.js" crossorigin="anonymous"></script>


<!-- <p> all User-></p>
<br>
<p> <%= u%> </p> -->

<div id="friends-list-container-main" >

    <p id="friends-list-container" >

        <a href="/users/profile/<%= u.id %>"> <%= u.name %> </a>

        <div class="friend-buttons" >

            <!-- Add Button -->
            <a id="add_friend" href="/friendships/create/<%= u.id %>"> 
        
                <i class="fas fa-user-plus" style="font-size:18px" ></i>

            <!-- Delete Button -->
            <a href="/friendships/delete/<%= u.id %>"> 
            
                <i class="fas fa-user-times" style="font-size:18px " ></i>
    
            </a>

        </div>

    </p>

    <!-- <%= u.id %> -->

</div>


