<link rel="stylesheet" href="/css/dash.css">
<link rel="stylesheet" href="/css/chat.css">
<link rel="stylesheet" href="/css/chat_box.css">
<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/comment.css">
<link rel="stylesheet" href="/css/home.css">




<!-- for production  -->
<!-- <link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>"> -->

<div id="home-container">

    <section id="user-links">
    
        <% if (locals.user){ %>
            <%- include('_dashboard') -%>
        <% }else{ %>
                
        <% } %>
        
    </section>


    <section id="feed-posts">

        <h4 id="feed" class="un" >Feed Posts</h4>

        <% if(locals.user){ %>

        <form action="/posts/create" class="post-form" id="new-post-form" method="POST">
            <textarea id="post-content-textarea" name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
            <!-- <input type="submit" value="Post"> -->

            <button type="submit" form="new-post-form" class="button" style="vertical-align:middle" value="Submit"><span>Post</span></button>
               

        </form>

        <% } %>
    
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    
                    <%- include('_post') -%>
                    
                <%} %>
            </ul>
        </div>
        
    </section>
    
    
    <section id="user-friends">
    
        <h3 id="user-friends-list" class="un" >Friends</h3>
    

        <div id="list-friends" >

            
        <% for(u of all_users) { %>
    
            <%- include('_friends') -%>
    
        <% } %>

        </div>
     
    </section>


    <%- include('_chat_box') -%>

</div>

<script src="/js/home_post_comments.js" ></script>

<script src="/js/home_posts.js"></script>


<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.0/socket.io.js"></script>

<script src="/js/chat_engine.js"></script>

 <% if (locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>')
    </script>
<% } %> 





