<style>

body::-webkit-scrollbar {
    display: none;
}


    /* width */
    ::-webkit-scrollbar {
      width: 20px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #9766da; 
      border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #20b4fc; 
    }
</style>

<link rel="stylesheet" href="/css/notifications.css">



<h1 class="hide" >
    Notification Pannel
</h1>
<h1 class="hide">
    Notification Pannel
</h1>


<div id="noti-container" >
    <div id="left-shortcuts" > 
        <%- include('profile_shortcuts') -%>
    </div>
    
    <!--  Change Style of Button -->



<a href="/users/update-notification/<%= locals.user.id  %>" id="updateNoti" style="display: none" >
    button
</a>

    <br> <br> <br>
    
<div id="noti-content"   >
       <h1 id="Noti-Heading" >  <%=notificationUser.name %>'s  &nbsp; Notifications </h1>
        <ul>
            <% for(noti of notifications){ %>

                <% if(!noti.isRead){ %>
                    
                    <li id="not-read" > <%= noti.content %>

                        <div id="date-time-container" >
                            <p id="time" > <%= ((noti.createdAt.getHours() + 24) % 12 || 12 )
                                 +":"+ noti.createdAt.getMinutes()
                                 +" "+((noti.createdAt.getHours()) >= 12 ? 'pm' : 'am')                        
                                %> </p>
                            <p id="date" ><%= noti.createdAt.getDate()
                                +"-"+ (noti.createdAt.getMonth()+1)
                                +"-"+ noti.createdAt.getFullYear()
                                %>
                            </p>    
                        </div>
                        <!-- <p><%= noti.isRead%></p> -->
                        
                    </li>
                    
                <%}else{%>

                    <li id="read" > <%= noti.content %>

                        <div id="date-time-container" >
                            <p id='time' > <%= ((noti.createdAt.getHours() + 24) % 12 || 12 )
                                 +":"+ noti.createdAt.getMinutes()
                                 +" "+((noti.createdAt.getHours()) >= 12 ? 'pm' : 'am')                        
                                %> </p>
                            <p id="date" ><%= noti.createdAt.getDate()
                                +"-"+ (noti.createdAt.getMonth()+1)
                                +"-"+ noti.createdAt.getFullYear()
                                %>
                            </p>    
                        </div>
                        <!-- <p><%= noti.isRead%></p> -->
    
                    </li>

                <% } %>


                


            <% } %>
        </ul>
        
        
    </div>

    <div id="test" >
        <p>sad</p>

    </div>


</div>





<!-- For development -->
<script src = "/js/notifications.js"></script>

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
$(window).load(function(){
    myClick();
});


function myClick() {
  setTimeout(
    function() {
        document.getElementById('updateNoti').click();
    }, 5000);
}
</script> 

