<!-- for development -->
<link rel="stylesheet" href="/css/profileFriend.css">



<style>
    #fl {
        margin-top: 10px;
    /* border: 2px solid chartreuse; */
    display: flex;
    justify-content: space-between;
    }
</style>


<h1 id="friend-list-heading" ><%= profile_user.name %>'s &nbsp;   Friend's List </h1>

<ul id="friend-ul" >
    <% for(f of friend){ %>
        <% for(uf of user.friendships){ %>
            <% if(f.id == uf){ %>
                 
                <!-- <li> From->  <%= f.from_user %>  || To -> <%= f.to_user %> </li> -->

                <% if(profile_user.id == f.to_user ) {%>

                    <% for(uf of all_users){ %>

                        <% if( f.from_user == uf.id  ){ %>
    
                        <li  id="friend-li" >
                             <!-- <%= uf.name %>  -->

                            <a id="friend-name"  href="/users/profile/<%= uf.id %>"> <%= uf.name %> </a>


                        <!-- TO change Route -->

                                <a class="delete" href="/friendships/delete/req/<%= uf.id %>"> 

                                    <i class="fas fa-user-times fa-2x "></i>
                    
                            </a>

                        </li>
    
                        <% } %>

                    <%} %>
                   

                <% } %>

                <% for(uf of all_users){ %>

                    <% if( (f.to_user == uf.id) && (profile_user.id != f.to_user)  ){ %>

                    <li  id="friend-li" class=float-shadow >
                         <!-- <%= uf.name %>    -->
                    
                         <a id="friend-name"  href="/users/profile/<%= uf.id %>"> <%= uf.name %> </a>
                         
                        <a class="delete" href="/friendships/delete/<%= uf.id %>"> 
        
                            <i class="fas fa-user-times fa-2x "></i>
                
                        </a>

                    </li>

                    <% } %>

                    


                <%} %>



                 
            <% } %>
        <%} %>
    <%} %>

</ul> 
