
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/dash.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/comment.css">
<link rel="stylesheet" href="/css/user_profile.css">

<!-- for production -->
<!-- <link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>"> -->

<div id="home-container">
    
    <section id="user-links">
        
        <% if (locals.user){ %>
            <%- include('_dashboardUtil') -%>
           
        <% }else{ %>
                
        <% } %>
        
    </section>
    
<section id='content'>

    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
    
    <br><br>
    
    
        <% if(user.id == profile_user.id) { %>
            <!-- If User Matches then Show the Form -->
            <form action="/users/update/<%= profile_user.id %>" id="profile-form" enctype="multipart/form-data"  method="POST" >
                <input type="text"  name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                <input type="email"  name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        
                <input type="file" name="avatar" placeholder="Profile Picture">
        
                <input type="submit" class="btn" value="Update">


                <br> 
            </form>

            <br> <br>
            
                <!-- Include Posts posted by the user -->

                <h3> <%= profile_user.name %>' Posts  </h3>

            <div id="posts-list-container">

                <ul>
                    <% for(post of posts){ %>
                        
                          <%- include('_post') -%> 

                    <%} %>
                </ul>

            </div>
        
        
        <% }else{ %>
            <!-- Else Show the list -->
            <p><%= profile_user.name %></p>
            <p><%= profile_user.email %></p>
        
        <% } %>
    </section>


    
        <section id="right-container">
            
            <!-- <% if (locals.user){ %>
                
                <p>Hello</p>

            <% }else{ %>
                    <p> asda </p>
            <% } %> -->

            <h1> Right COntainer</h1>
            
        </section>

</div>