<!-- <html>
    <head>

        <title>

            <%= title %>

        </title>

    </head>

    <body>

        <h1> Users | <%= title%> </h1>

        <p> <%= user.name %> </p>
        <p> <%= user.email %> </p>


    </body>

</html> -->


<h1>
    Codeial / Profile Page
</h1>

<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>



<!-- <button type="button" >
    <a href="/users/sign-in"> Log Out </a>
</button> -->

<a href="/users/sign-in" > <input type="button" value="Log Out"/> </a>